<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.schriftgestaltung.disablesAutomaticAlignment</key>
	<true/>
	<key>com.schriftgestaltung.font.glyphOrder</key>
	<array>
		<string>.notdef</string>
		<string>space</string>
		<string>A</string>
		<string>B</string>
		<string>C</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>O</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>S</string>
		<string>T</string>
		<string>U</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Z</string>
		<string>a</string>
		<string>b</string>
		<string>c</string>
		<string>d</string>
		<string>e</string>
		<string>f</string>
		<string>g</string>
		<string>h</string>
		<string>i</string>
		<string>j</string>
		<string>k</string>
		<string>l</string>
		<string>m</string>
		<string>n</string>
		<string>o</string>
		<string>p</string>
		<string>q</string>
		<string>r</string>
		<string>s</string>
		<string>t</string>
		<string>u</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>z</string>
	</array>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>7898FA1B-6D81-44BD-9003-4219F123628C</string>
	<key>com.schriftgestaltung.glyphOrder</key>
	<array>
		<string>.notdef</string>
		<string>space</string>
		<string>A</string>
		<string>B</string>
		<string>C</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>O</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>S</string>
		<string>T</string>
		<string>U</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Z</string>
		<string>a</string>
		<string>b</string>
		<string>c</string>
		<string>d</string>
		<string>e</string>
		<string>f</string>
		<string>g</string>
		<string>h</string>
		<string>i</string>
		<string>j</string>
		<string>k</string>
		<string>l</string>
		<string>m</string>
		<string>n</string>
		<string>o</string>
		<string>p</string>
		<string>q</string>
		<string>r</string>
		<string>s</string>
		<string>t</string>
		<string>u</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>z</string>
	</array>
	<key>com.schriftgestaltung.useNiceNames</key>
	<false/>
	<key>public.glyphOrder</key>
	<array>
		<string>.notdef</string>
		<string>space</string>
		<string>A</string>
		<string>B</string>
		<string>C</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>O</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>S</string>
		<string>T</string>
		<string>U</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Z</string>
		<string>a</string>
		<string>b</string>
		<string>c</string>
		<string>d</string>
		<string>e</string>
		<string>f</string>
		<string>g</string>
		<string>h</string>
		<string>i</string>
		<string>j</string>
		<string>k</string>
		<string>l</string>
		<string>m</string>
		<string>n</string>
		<string>o</string>
		<string>p</string>
		<string>q</string>
		<string>r</string>
		<string>s</string>
		<string>t</string>
		<string>u</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>z</string>
	</array>
	<key>public.postscriptNames</key>
	<dict>
		<key>.notdef</key>
		<string>.notdef</string>
		<key>A</key>
		<string>A</string>
		<key>B</key>
		<string>B</string>
		<key>C</key>
		<string>C</string>
		<key>D</key>
		<string>D</string>
		<key>E</key>
		<string>E</string>
		<key>F</key>
		<string>F</string>
		<key>G</key>
		<string>G</string>
		<key>H</key>
		<string>H</string>
		<key>I</key>
		<string>I</string>
		<key>J</key>
		<string>J</string>
		<key>K</key>
		<string>K</string>
		<key>L</key>
		<string>L</string>
		<key>M</key>
		<string>M</string>
		<key>N</key>
		<string>N</string>
		<key>O</key>
		<string>O</string>
		<key>P</key>
		<string>P</string>
		<key>Q</key>
		<string>Q</string>
		<key>R</key>
		<string>R</string>
		<key>S</key>
		<string>S</string>
		<key>T</key>
		<string>T</string>
		<key>U</key>
		<string>U</string>
		<key>V</key>
		<string>V</string>
		<key>W</key>
		<string>W</string>
		<key>X</key>
		<string>X</string>
		<key>Y</key>
		<string>Y</string>
		<key>Z</key>
		<string>Z</string>
		<key>a</key>
		<string>a</string>
		<key>b</key>
		<string>b</string>
		<key>c</key>
		<string>c</string>
		<key>d</key>
		<string>d</string>
		<key>e</key>
		<string>e</string>
		<key>f</key>
		<string>f</string>
		<key>g</key>
		<string>g</string>
		<key>h</key>
		<string>h</string>
		<key>i</key>
		<string>i</string>
		<key>j</key>
		<string>j</string>
		<key>k</key>
		<string>k</string>
		<key>l</key>
		<string>l</string>
		<key>m</key>
		<string>m</string>
		<key>n</key>
		<string>n</string>
		<key>o</key>
		<string>o</string>
		<key>p</key>
		<string>p</string>
		<key>q</key>
		<string>q</string>
		<key>r</key>
		<string>r</string>
		<key>s</key>
		<string>s</string>
		<key>space</key>
		<string>space</string>
		<key>t</key>
		<string>t</string>
		<key>u</key>
		<string>u</string>
		<key>v</key>
		<string>v</string>
		<key>w</key>
		<string>w</string>
		<key>x</key>
		<string>x</string>
		<key>y</key>
		<string>y</string>
		<key>z</key>
		<string>z</string>
	</dict>
</dict>
</plist>
